name: Architecture Benchmark

on:
  pull_request:
  push:
    branches: [main]
env:
  QPS: 5000
  DURATION: 20
  CNX: 4
  CONCURRENCY: 6
jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    outputs:
      artifact-name: repo
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-cleanup: never
          
      - name: Run Gradle build
        run: gradle build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: services
          path: services/**/build/libs

  benchmark-grpc:
    needs: setup
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          name: services
          path: services
        
      - name: Install benchmark tools (fortio)
        shell: bash
        run: |
          bash benchmarks/install-tool.sh fortio fortio usr/bin/
          fortio version

      - name: gRPC benchmark
        shell: bash
        run: |
          docker compose -f compose.grpc.yaml up -d

          cd benchmarks
          bash healthcheck.sh grpc
          bash benchmark.sh grpc localhost:9090 1000 10 $CNX $CONCURRENCY
          bash benchmark.sh grpc localhost:9090 $QPS $DURATION $CNX $CONCURRENCY

      - name: Upload gRPC benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: grpc-results
          path: benchmarks/results/

  benchmark-grpc_ghz:
    needs: setup
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          name: services
          path: services
        
      - name: Install benchmark tools (ghz)
        shell: bash
        run: |
          bash benchmarks/install-tool.sh bojand ghz
          ghz --version

      - name: gRPC benchmark
        shell: bash
        run: |
          docker compose -f compose.grpc.yaml up -d

          cd benchmarks
          bash healthcheck.sh grpc
          TOTAL_CNX=$(($CNX * $CONCURRENCY))
          bash grpc.sh 1000 10 $CNX $TOTAL_CNX
          bash grpc.sh $QPS $DURATION $CNX $TOTAL_CNX

      - name: Upload gRPC benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: grpc_ghz-results
          path: benchmarks/results/

  benchmark-http_webflux:
    needs: setup
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          name: services
          path: services
      
      - name: Install benchmark tools (fortio)
        run: |
          bash benchmarks/install-tool.sh fortio fortio usr/bin/
          fortio version
    
      - name: Webflux benchmark
        shell: bash
        run: |
          docker compose -f compose.webflux.yaml up -d

          cd benchmarks
          bash healthcheck.sh webflux
          TOTAL_CNX=$(($CNX * $CONCURRENCY))
          bash benchmark.sh http_webflux localhost:8081 1000 10 $TOTAL_CNX
          bash benchmark.sh http_webflux localhost:8081 $QPS $DURATION $TOTAL_CNX

      - name: Upload Webflux benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: http_webflux-results
          path: benchmarks/results/

  summary:
    needs: [benchmark-grpc, benchmark-grpc_ghz, benchmark-http_webflux]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4

      - name: Download gRPC results
        uses: actions/download-artifact@v4
        with:
          name: grpc-results
          path: benchmarks/results/grpc

      - name: Download gRPC (ghz) results
        uses: actions/download-artifact@v4
        with:
          name: grpc_ghz-results
          path: benchmarks/results/grpc_ghz

      - name: Download Webflux results
        uses: actions/download-artifact@v4
        with:
          name: http_webflux-results
          path: benchmarks/results/http_webflux

      - name: Generate summary
        run: |
          cd benchmarks
          python3 summary.py results/ results/summary-${QPS}.md

      - name: Upload summary
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-summary
          path: benchmarks/results/summary*.md